ul.a {
    list-style-type: none;
    padding-left: 0px;
}
.span{
  font-weight: bold;
}
.list_item{
  font-weight: bold;
  text-align: left;
}
.info_box{
border: 1px solid #d3d3d3;
padding-left: 10px;
padding-right: 10px;
padding-bottom: 5px;
width: 280px;
margin-left: 10px;
margin-right: 10px;
margin-bottom: 10px;
}
.image_tiger{
  width: 300px;
  padding-left: 10px;
  padding-right: 10px;
}
.trading_card{
  width: 320px;
  border-style: solid;
  border-color: #d3d3d3;
  border-width: thin;
  box-shadow: 5px 5px #b8b8b8;
}
.title{
  padding-left: 10px;
  font-size: 20px;
  font-family: serif;
  font-weight: bold;
}
